*,*:before,*:after {box-sizing:inherit;margin:0; padding:0; border:0 none; position: relative;}
html {
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
    color: rgb(54, 54, 54);
    background-color: #e5e5e5;
    scroll-behavior: smooth
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(40, 55, 58);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 41, 42);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/* -- Navegacion -- */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:3;
    background: #031525;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    text-align: center;
    flex-basis: 33%;
    font-size: calc(1.3vmin + 0.8vmax);
    text-transform: uppercase;
    color: #c9c9c9;
    text-decoration: none;
}

nav a:hover, a:focus {	
	color: #CA9494;
}

/* -- Contenido -- */
@media screen and (min-width: 769px) {  
    body > main {
		display: flex;
		flex-wrap: wrap;
    }
}

figure {
    background: #e5e5e5;
    padding: 5vmin;
}

section {
    background: #e5e5e5;
    padding: 5vmin;
}

/* -- Principal -- */
figure:nth-of-type(1) {
    margin-top: 2rem;
    height: calc( 65vh - 2rem);
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #0e2b46 0%, #041B30 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    margin: 0 auto; 
    text-align: center;
}

.brand h2 {
    letter-spacing: 0.25em;
    font-size: calc(3.2vmin + 5.2vmax);
    border: 6px solid #C9C9C9;
    color: #c9c9c9;
    display: block;
    display:inline-block;
    padding: 0.3em 0.39em 0.3em 0.64em;
    font-weight: 400;
}

.brand p {
    color: #CA9494;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05em;
    font-size: calc(0.8vmin + 1.1vmax);
    margin-top: 0.9rem;
}

.intro {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-prin {
    display: none;
}

.intro h1 {
    font-size: calc(1.5vmin + 3vmax);
    text-align: right;
    border-right: 2px solid rgb(54, 54, 54);
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.intro p {
    font-size: calc(1.1vmin + 1.4vmax); 
    text-align: right;
    padding-right: 1rem;
}

@media screen and (min-width: 769px) {    
	figure {
		width: calc( 50% + 1px);
		height: 100vh;
		margin: 0 auto 10vh 0;
		position: sticky;
		top: 0;
        overflow: hidden;
        background: #e5e5e5;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
    }
    
	section {
		background: #e5e5e5;
		width: calc(50% + 1px);
		height: 100vh;
		margin: 0 0 10vh auto;
		position: sticky;
		top: 0;
		overflow: hidden;
		padding: 5vmin;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
    }

    figure:nth-of-type(1) {
        height: 100vh;
    }
    
	figure:nth-of-type(1),
	section:nth-of-type(1) {
		margin: 0 0 10vh 0;
		width: 50%;
    }

    .intro {
        height: 100vh;
        justify-content: space-between;
        padding-top: 20vh;
    }

    .intro p {
        font-size: calc(0.8vmin + 1.1vmax);
    }

    .intro-prin {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .intro-i {
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: calc(2vmin + 3.5vmax);
    }

    .intro-i i{
        padding: 1rem;
        border-radius: 10px;
        transition: 1s;
        color: rgb(54, 54, 54);
    }

    .intro-i i:hover{
        background-color: rgba(54, 54, 54, 0.13);
        cursor: pointer;
        transform: scale(1.1);
    }

    .intro-a {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: calc(0.8vmin + 1.1vmax);
        margin-left: 3rem;
    }

    .intro-a a{
        text-decoration: none;
        color:  rgb(54, 54, 54);
        padding: .75rem;
        border-radius: 10px;
        transition: 1s;
    }

    .intro-a a:hover{
        background-color: rgba(54, 54, 54, 0.13);
        transform: scale(1.1);
    }
}

.encabezado {
    margin-top: 5px;
}

.encabezado-a {
    padding: 1rem 1rem 3rem 1rem;
    border-radius: 25px 25px 0 0;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 -4px 8px rgba(0,0,0,.3);
}

.encabezado-a h3 {
    font-size: calc(1.2vmin + 2.6vmax);
}

.encabezado:after {
    padding: 1.1rem;
    width: 100%;
    border-radius: 50px 50px 0 0;
    background-color: #e5e5e5;
    display:inline-block;
    vertical-align: middle;
    margin-top: -3rem;
    content: '';
    box-shadow: 0 -6px 4px rgba(0, 0, 0, 0.25);
}

.sub-encabezado {
    margin-top: 5px;
}

.sub-encabezado-a {
    padding: 3.5rem 1rem 1rem 1rem;
    border-radius: 0 0 25px 25px;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 6px 4px rgba(0,0,0,.3);
    margin-bottom: 1rem;
}

.sub-encabezado-a h3 {
    font-size: calc(1.2vmin + 2.6vmax);
}

.sub-encabezado:before {
    padding: 1.1rem;
    width: 100%;
    border-radius: 0 0 50px 50px;
    background-color: #e5e5e5;
    display:inline-block;
    vertical-align: middle;
    margin-bottom: -3rem;
    content: '';
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

h4 {
    font-size: calc(1.2vmin + 2.6vmax);
    text-align: center;
    margin: 1rem;
}

.block p {
    font-size: calc(1.1vmin + 1.4vmax);
    text-align: justify;
    text-indent: 1.5rem;
}

.block img{
    display: block;
    width: 50%;
    margin: 1.5rem auto;
}

.click {
    display: none;
}

@media screen and (min-width: 769px) {
    .encabezado {
        display: none;
    }

    .sub-encabezado {
        display: none;
    }

    figure:nth-of-type(2n) {
		margin: 0 0 10vh auto;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
    }
    
	section:nth-of-type(2n) {
		margin: 0 auto 10vh 0;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
    }

    .block {
        padding-top: 6rem;
    }

    .block-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .block p {
        margin-top: 2rem;
        font-size: calc(0.8vmin + 1.1vmax);
    }

    .block-content img {
        margin-top: 0;
        height: 100%;
    }

    .click {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: -40vh;
    }

    .click a{
        padding: 1rem;
        background-color: #031525;
        border-radius: 10px;
        text-decoration: none;
        color: #e5e5e5;
        font-size: calc(0.5vmin + 0.8vmax);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.876);
        transition: all 1s;  
    }

    .click a:hover{
        background-color: #0e2b46;
        font-size: calc(0.5vmin + 1vmax);
        transform: scale(10);
    }
}

.block-content-list ul {
    margin-top: 1rem;
    padding-left: 2rem;
    font-size: calc(1.1vmin + 1.4vmax);
}

.block-content-list div {
    font-size: calc(2vmin + 3.5vmax);
    text-align: center;
}

.block-content-list span,
.block-content-list a{
    font-style: italic;
    font-weight: 700;
    color: rgb(131, 70, 0);
}

@media screen and (min-width: 769px) {
    figure:nth-of-type(3) {
		background: radial-gradient(50% 50% at 50% 50%, #0e2b46 0%, #041B30 100%);
        color: #c9c9c9;
    }

    section:nth-of-type(4) {
		margin: 0 0 10vh auto;
    }

    .block-content-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10% 10% 10%;
    }

    .block-content-list ul {
        line-height: 2;
        margin-top: 1rem;
        padding-left: 3rem;
        font-size: calc(0.8vmin + 1.1vmax);
    }
}

.sub-hero {
    margin-top: 20px;
    padding: 0;
}

.sub-hero:before {
    padding: 1.6rem;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-color: #ffffff;
    display:inline-block;
    vertical-align: middle;
    content: '';
    box-shadow: 0 -6px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.hero {
    margin-top: -20px;
    background-image: url(img/hero.jpg);
    background-position: center center;
    background-size: cover;
    color: #e5e5e5;
    border-radius: 25px 25px 0 0;
    z-index: 1;
}

.hero-dark {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.685);
    border-radius: 25px 25px 0 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.404);
}

figure:last-of-type h4{
    margin-top: -3rem;
}

section:last-of-type {
    border-radius: 25px 25px 0 0;
    box-shadow: 0 -6px 6px hsla(0, 0%, 69%, 0.253);
    margin: -7rem auto 0 auto;
    z-index: 2;
    width: 80%;
}

h5 {
    font-size: calc(1vmin + 2vmax);
    text-align: center;
    margin: 1rem;
}

.contact-way {
    display: flex;
    flex-direction: column;
}

.contact-way a {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    font-size: calc(1.1vmin + 1.4vmax);
    text-decoration: none;
}

.contact-way a i{
    font-size: calc(4vmin + 5vmax);
    font-weight: 100;
    margin: .5rem auto;
}

@media screen and (min-width: 769px) {
    .sub-hero:before {
        display: none;
    }
    
    .hero {
        background-image: url(img/hero3.jpg);
        background-attachment: fixed;
        background-position: top left;
        background-size: 50% auto;
        
        padding: 0;
        margin-top: 0;
        border-radius: 0;
    }

    .hero-dark {
        min-height: 100vh;
        border-radius: 0;
    }

    section:last-of-type {
        border-radius: 0;
        box-shadow: 4px -4px 8px rgba(0,0,0,.4);
        margin: 0 auto 0 50%;
    }

	figure:last-of-type,
	section:last-of-type {
		margin-bottom: 0;
    }
    
    .contact-way {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .contact-way a {
        flex-basis: calc(50% - 2rem);
        font-size: calc(.8vmin + 1vmax);
        margin-top: 2rem;
        transition: 1s;
        padding: 1rem;
        border-radius: 10px;
    }

    .contact-way a:hover {
        background-color: rgba(54, 54, 54, 0.13);
        transform: scale(1.1);
    }

    .contact-way a i{
        font-size: calc(3.3vmin + 3.7vmax);
        font-weight: 100;
        margin: .5rem auto;
    }
}

footer {
    background: #031525;
    color: #c9c9c9;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}